
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      line-height: 1.6;
      background: aqua;
      color: #333;
    }

    header { 
      background:blue;
      color: #fff;
      text-align: center;
      padding: 25px 15px;
    }

    header h1 {
      margin: 0;
    }

    nav {
      background: magenta;
      margin-top: 20px;
      margin-left: 0;
      margin-right: 0;
    }

    nav a {
      color: #fff;
      text-decoration: none;
      margin: 0 12px;
      font-weight: bold;
    }

    nav a:hover {
      color: darkgreen;
    }
section {

      padding: 40px 20px;

      max-width: 1000px;

      margin: auto;

    }

    h2 {

      text-align: center;

      color: #444;

      margin-bottom: 20px;

    }

    .company-section {

      display: flex;

      width="200";

      align-items: center;

      gap: 20px;

      background: #fff;

      padding: 20px;

      border-radius: 10px;

      box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    }.company-section img {

      width: 200px;

      border-radius: 10px;

    }

    .company-details {

      flex: 1;

    background-margin: 100px;

    }

    .card {

      background: #fff;

      padding: 20px;

      margin: 15px 0;

      border-radius: 10px;

      box-shadow: 0px 4px 6px rgba(0,0,0,0.1);

    }

    .id-card {

      display: flex;

      align-items: center;

      gap: 15px;

    }

    .id-card img {

      width: 130px;

      border-radius: 12px;

    }
.projects img {

      

      border-radius: 12px;

      align: center;

    }

    .skills, .hobbies {
background: #fff;

      
      display: flex;

      flex-wrap: wrap;

      gap: 12px;
     
    }

    .skills span, .hobbies span {

      background: tomato;

      color: white;

      padding: 8px 14px;

      border-radius: 20px;

      font-size: 14px;

    }
.skills span, .hobbies span:hover { 

transform: scale(1.05);

border-color: #0d6efd;}
.dashboard {

display: flex;

flex-wrap: wrap;

gap: 10px;

justify-content: center;

}

    footer {

      background: blue;

      color: #fff;

      text-align: center;

      padding: 15px;

      margin-top: 20px;

    }

    form input, form textarea {

      width: 100%;

      padding: 10px;

      margin: 8px 0;

      border-radius: 6px;

      border: 1px solid #ccc;

    }

    .button {

      padding: 10px 18px;

      background: #ff9800;

      border: none;

      color: white;

      border-radius: 6px;
      
      cursor: pointer;

    }

    button:hover {

      background: #e68900;

    }

    html {

      scroll-behavior: smooth;

    }

